<div class="absolute inset-10 flex flex-col min-w-0 overflow-auto">
    <div class="flex flex-row header ">
        <div>
            <div>
                <h2>Simple Task Manager</h2>
            </div>
        </div>
        <div>
            <button aria-label="new-task" mat-raised-button color="primary" (click)="NewTask()">New Task</button>
            <button aria-label="delete-task" mat-raised-button color="primary" (click)="ClearTasks()">Delete All</button>
        </div>
    </div>
    <div>
        <table #TaskTable mat-table [dataSource]="TaskList" matSort="matSort" (matSortChange)="sortData($event,TaskList)">
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let tsk">
                    <mat-icon (click)="EditTask(tsk)">edit</mat-icon>
                    <mat-icon (click)="DeleteTask(tsk)">delete</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let tsk"><span [innerHTML]="tsk.Id"></span></td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
                <td mat-cell *matCellDef="let tsk"><span [innerHTML]="tsk.Name"></span></td>
            </ng-container>
            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let tsk"><span [innerHTML]="tsk.Description"></span></td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let tsk"><span [innerHTML]="tsk.Status"></span></td>
            </ng-container>
            <ng-container matColumnDef="Due">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Due</th>
                <td mat-cell *matCellDef="let tsk"><span>{{tsk.Due | date: 'MMM d, yyy h:mm a'  }}</span></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['Action','Id','Name','Description','Status','Due']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['Action','Id','Name','Description','Status','Due'];" style="height:auto"></tr>
        </table>
        <!-- <mat-tab-group>
            <mat-tab label="List">List</mat-tab>
            <mat-tab label="Calender">Calender</mat-tab>
        </mat-tab-group> -->
    </div>
</div>


