<div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">{{title}}</h4>
        <button color="accent" aria-label="Close" (click)="modal.dismiss('Cross click')" tabindex="0">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body text-default">
        <form #taskForm="ngForm">
            <mat-form-field class="col-span-3 w-full" ngControl="name">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="Task!.Name" required name="name"/>
            </mat-form-field>
            <mat-form-field class="col-span-3 w-full" ngControl="description">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="Task!.Description" name="description"></textarea>
            </mat-form-field>
              <mat-form-field  class="w-full" [ngClass]="isMobile ? 'col-span-3' : 'col-span-1'" ngControl="dueDate">
                <mat-label>Due Date</mat-label>
                <input matInput [(ngModel)]="tDate" [matDatepicker]="duepicker" (dateChange)="dueChanged(tDate)" name="dueDate"/>
                <mat-datepicker-toggle matIconSuffix [for]="duepicker"></mat-datepicker-toggle>
                <mat-datepicker #duepicker></mat-datepicker>
              </mat-form-field>
                <div class="flex" [ngClass]="isMobile ? 'col-span-2' : 'col-span-1'">
                    <mat-form-field class="time-select" ngControl="hour">
                        <mat-label>Hour</mat-label>
                        <select matNativeControl [(ngModel)]="Task!.Hour" (change)="onSelectHour(Task!.Hour)" name="hour">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="time-select" ngControl="minute">
                        <mat-label>Minute</mat-label>
                        <select matNativeControl [(ngModel)]="Task!.Minute"(change)="onSelectMinute(Task!.Minute)" name="minute">
                            <option *ngFor="let m of Minutes" [value]="m">
                                {{m | number:'2.0'}}
                            </option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="time-select" ngControl="ampm">
                        <mat-label>AM/PM</mat-label>
                        <select matNativeControl [(ngModel)]="Task!.AMPM" (change)="onSelectAMPM(Task!.AMPM)" name="ampm">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </mat-form-field>
                </div>
                <mat-form-field ngControl="status">
                    <mat-label>Status</mat-label>
                    <select matNativeControl [(ngModel)]="Task!.Status" name="status">
                        <option value="Pending">Pending</option>
                        <option value="Complete">Complete</option>
                    </select>
                  </mat-form-field>
        </form>
    </div>
    <div class="modal-footer text-default">
      <button mat-raised-button color="accent" aria-label="Cancel" (click)="cancelClick()" tabindex="0">Cancel</button>
      <button mat-raised-button color="primary" aria-label="Save Task" (click)="saveClick()" [disabled]="!taskForm.form.valid" tabindex="0">Save Task</button>
    </div>
  </div>